@charset "UTF-8";
/*=============================================
=                   recursos                  =
=============================================*/
/*=============================================
=                   colores                   =
=============================================*/
/*=============================================
=            tamaños y espaciados            =
=============================================*/
/*=============================================
=            estilos generales                =
=============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  background-color: #f2cfd9;
}

h1, h2, h3 {
  font-weight: 100;
}

h3 {
  font-size: 24px;
  width: 100%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/*=============================================
=            estilos de botones               = 
=============================================*/
button {
  background-color: transparent;
  border: 0px;
  padding: 0;
}

/*=============================================
=               tipografías                   =
=============================================*/
@font-face {
  font-family: "Suave";
  src: url("../elements/typo/Suave.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "krylon";
  src: url("../elements/typo/Krylon-Regular.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 2048px;
  width: 80%;
}
.grid__cell {
  padding: 16px;
  margin: 2px;
}
.grid__cell--100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 16px);
          flex: 0 0 calc(100% - 16px);
}
.grid__cell--80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(80% - 16px);
          flex: 0 0 calc(80% - 16px);
}
.grid__cell--75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 16px);
          flex: 0 0 calc(75% - 16px);
}
.grid__cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
}
.grid__cell--40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 16px);
          flex: 0 0 calc(40% - 16px);
}
.grid__cell--25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 16px);
          flex: 0 0 calc(25% - 16px);
}
.grid__cell--33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 16px);
          flex: 0 0 calc(33% - 16px);
}
.grid__cell--20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 16px);
          flex: 0 0 calc(20% - 16px);
}
.grid__cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(10% - 16px);
          flex: 0 0 calc(10% - 16px);
}

/*=============================================
=                   layout                    =
=============================================*/
.menu {
  padding: 16px 0;
  margin: 0;
  font-family: suave;
  text-align: center;
  z-index: 0;
  width: 100vw;
  background-color: #3b8c75;
}
.menu__items {
  margin: 0;
}
.menu__button {
  padding: 4px;
  font-family: suave;
  font-size: 28px;
  color: white;
}
.menu__icon {
  fill: white;
}
.menu__item {
  padding: 0;
}
.menu__submenu {
  padding: 16px 32px;
  background-color: #f2cfd9;
}
.menu__li {
  margin-bottom: 16px;
}
.menu__link {
  color: #5a2630;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 20px;
}
.menu__link:hover {
  -webkit-text-decoration: underline #5a2630;
          text-decoration: underline #5a2630;
}

.off {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f2cfd9;
  height: 80px;
  width: 100%;
}

.hamburguer-bt {
  cursor: pointer;
  height: 60px;
  width: 60px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.hamburguer-bt .hamburguer-bt__stripe {
  width: 32px;
  height: 4px;
  background: #5a2630;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.hamburguer-bt.on .hamburguer-bt__stripe__top {
  -webkit-transform: rotate(45deg) translate(0px, 11px);
          transform: rotate(45deg) translate(0px, 11px);
}

.hamburguer-bt.on .hamburguer-bt__stripe__middle {
  opacity: 0;
}

.hamburguer-bt.on .hamburguer-bt__stripe__bottom {
  -webkit-transform: rotate(-45deg) translate(0px, -11px);
          transform: rotate(-45deg) translate(0px, -11px);
}

/*=============================================
=              Estilos del banner             =
=============================================*/
.banner {
  min-width: 100%;
  background-color: #5a2630;
  color: white;
  padding: 8px;
  margin-bottom: 32px;
  font-family: suave;
  font-size: 20px;
  text-align: center;
}
.banner__text {
  margin: 0 0 8px 0;
}
.banner__button {
  color: #5a2630;
  background-color: #f2cfd9;
  font-size: 20px;
  font-family: suave;
  padding: 8px;
  border: 0px;
}
.banner__button:hover {
  background-color: #f26982;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  font-family: suave;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 64px;
  color: #5a2630;
}
.hero__image {
  background: url("../elements/images/mainimage.jpg");
  background-size: cover;
  background-position: center;
  width: 20px;
}
.hero__text {
  white-space: nowrap;
}
.hero__text--left {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hero__text--right {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.presentation {
  font-family: suave;
  font-size: 28px;
  color: #5a2630;
  font-weight: regular;
  font-weight: 100;
  text-align: center;
  margin-bottom: 64px;
}
.presentation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.presentation__image {
  width: 40%;
}
.presentation__text {
  font-size: 20px;
  text-align: left;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
}

.shop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
  padding: 0 32px;
}
.shop__button {
  font-family: suave;
  padding: 8px;
  border: 0px;
  background-color: #5a2630;
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
}
.shop__button:hover {
  background-color: #f26982;
  color: #0d0d0d;
}

.container {
  width: 100%;
  margin-bottom: 64px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  font-family: suave;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 16px;
  color: #5a2630;
  text-align: center;
}
.gallery__image {
  background: url("../elements/images/photo gallery 1.jpg");
  background-size: cover;
  background-position: center;
}
.gallery__image2 {
  background: url("../elements/images/photo gallery 2.jpg");
  background-size: cover;
  background-position: center;
}
.gallery__text--left {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.gallery__text--right {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.products__title {
  font-family: suave;
  font-size: 28px;
  color: #5a2630;
  font-weight: regular;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
}

.swiper {
  margin-bottom: 64px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5a2630;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 32px 32px;
  text-align: center;
}
.footer__title {
  color: white;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.tienda {
  text-align: center;
}
.tienda__titulo {
  font-family: suave;
  font-size: 32px;
  color: #5a2630;
}
.tienda__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tienda__item {
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin-bottom: 16px;
  margin-right: 16px;
  background-color: #f26982;
  background-size: cover;
  background-position: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 16px;
  border-radius: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.tienda__item:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.item__image {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  min-height: 150px;
  background: url(../../elements/images/lilagrande.png);
  background-position: center;
  background-size: cover;
}
.item__name {
  font-family: suave;
  font-size: 24px;
  color: white;
}
.item__button {
  background-color: #f2cfd9;
  padding: 16px;
  width: 98%;
  font-family: krylon;
  font-size: 20px;
  color: #5a2630;
  cursor: pointer;
}
.item__button:hover {
  background-color: #5a2630;
  color: #f2cfd9;
}

.single {
  width: 100%;
  text-align: center;
  font-family: suave;
  color: #5a2630;
  margin-bottom: 64px;
  padding: 32px;
}
.single__image {
  background: url("../elements/images/lilagrande.png");
  min-height: 500px;
  max-width: 500px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 32px;
}
.single__title {
  font-size: 32px;
}
.single__name {
  font-size: 32px;
}
.single__description {
  font-size: 20px;
  color: #0d0d0d;
}
.single__details {
  font-size: 20px;
  max-width: 300px;
  margin: 16px auto;
}
.single__button {
  min-width: 300px;
  background-color: #f26982;
  color: #0d0d0d;
  padding: 16px;
  font-family: suave;
  font-size: 28px;
  cursor: pointer;
}
.single__button:hover {
  background-color: #5a2630;
  color: white;
}