@charset "UTF-8";
/*=============================================
=                   recursos                  =
=============================================*/
/*=============================================
=                   colores                   =
=============================================*/
/*=============================================
=            tamaños y espaciados            =
=============================================*/
/*=============================================
=            estilos generales                =
=============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f2cfd9;
}

h1, h2, h3 {
  font-weight: 100;
}

h3 {
  font-size: 24px;
  width: 100%;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/*=============================================
=            estilos de botones               = 
=============================================*/
button {
  background-color: transparent;
  border: 0px;
  padding: 0;
  cursor: pointer;
}

/*=============================================
=               tipografías                   =
=============================================*/
@font-face {
  font-family: "Suave";
  src: url("../elements/typo/Suave.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "krylon";
  src: url("../elements/typo/Krylon-Regular.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 2048px;
  width: 80%;
}
.grid__cell {
  padding: 16px;
  margin: 2px;
}
.grid__cell--100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 16px);
          flex: 0 0 calc(100% - 16px);
}
.grid__cell--80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(80% - 16px);
          flex: 0 0 calc(80% - 16px);
}
.grid__cell--75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 16px);
          flex: 0 0 calc(75% - 16px);
}
.grid__cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
}
.grid__cell--40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 16px);
          flex: 0 0 calc(40% - 16px);
}
.grid__cell--25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 16px);
          flex: 0 0 calc(25% - 16px);
}
.grid__cell--33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 16px);
          flex: 0 0 calc(33% - 16px);
}
.grid__cell--20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 16px);
          flex: 0 0 calc(20% - 16px);
}
.grid__cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(10% - 16px);
          flex: 0 0 calc(10% - 16px);
}

/*=============================================
=                   layout                    =
=============================================*/
.menu {
  padding: 16px 0;
  margin: 0;
  font-family: suave;
  text-align: center;
  z-index: 0;
  width: 100vw;
  background-color: #3b8c75;
}
.menu__items {
  margin: 0;
}
.menu__button {
  padding: 4px;
  font-family: suave;
  font-size: 28px;
  color: white;
}
.menu__icon {
  fill: white;
}
.menu__item {
  padding: 0;
}
.menu__submenu {
  padding: 16px 32px;
  background-color: #f2cfd9;
}
.menu__li {
  margin-bottom: 16px;
}
.menu__link {
  color: #5a2630;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 20px;
}
.menu__link:hover {
  -webkit-text-decoration: underline #5a2630;
          text-decoration: underline #5a2630;
}

.off {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f2cfd9;
  height: 80px;
  width: 100%;
}

.header__backpack {
  cursor: pointer;
}

.hamburguer-bt {
  cursor: pointer;
  height: 60px;
  width: 60px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.hamburguer-bt .hamburguer-bt__stripe {
  width: 32px;
  height: 4px;
  background: #5a2630;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.hamburguer-bt.on .hamburguer-bt__stripe__top {
  -webkit-transform: rotate(45deg) translate(0px, 11px);
          transform: rotate(45deg) translate(0px, 11px);
}

.hamburguer-bt.on .hamburguer-bt__stripe__middle {
  opacity: 0;
}

.hamburguer-bt.on .hamburguer-bt__stripe__bottom {
  -webkit-transform: rotate(-45deg) translate(0px, -11px);
          transform: rotate(-45deg) translate(0px, -11px);
}

.item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.big__logo {
  display: none;
}

@media (min-width: 900px) {
  .header {
    display: none;
  }

  .logo {
    width: 100%;
    fill-opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .big__logo {
    display: block;
    font-family: ladigross;
    color: red;
    margin: 32px 16px;
    text-align: center;
    margin-bottom: 0;
  }

  .headerlogo_big {
    margin-bottom: 16px;
  }

  .big {
    display: none;
  }

  .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #0d0d0d;
    font-family: suave;
    font-size: 20px;
    margin-bottom: 0;
    margin: 8px;
  }

  .desktop__link:hover {
    -webkit-text-decoration: underline 1px #0d0d0d;
            text-decoration: underline 1px #0d0d0d;
    cursor: pointer;
  }
}
@media (min-width: 1190px) {
  .big {
    display: block;
    margin: 0 auto;
  }

  .medium {
    display: none;
  }
}
.backpack {
  background-color: white;
  padding: 32px;
  text-align: center;
}
.backpack__title {
  font-family: suave;
  font-size: 28px;
  color: #5a2630;
}
.backpack__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.backpack__image {
  margin-right: 16px;
  max-width: 100px;
}
.backpack__name {
  font-family: krylon;
  font-size: 20px;
  color: #0d0d0d;
  margin-right: 16px;
}
.backpack__controller {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.backpack__button {
  min-width: 150px;
  font-family: suave;
  font-size: 20px;
  background-color: #3b8c75;
  padding: 16px;
}
.backpack__button:hover {
  background-color: #f2cfd9;
}

.more {
  text-align: center;
  font-family: suave;
  font-size: 16px;
  width: 25px;
  height: 25px;
  background-color: #3b8c75;
  padding: 4px;
  border-radius: 50%;
}

.number {
  font-family: suave;
  font-size: 16px;
}

.less {
  text-align: center;
  font-family: suave;
  font-size: 16px;
  width: 25px;
  height: 25px;
  background-color: red;
  padding: 4px;
  border-radius: 50%;
}

.total {
  font-family: suave;
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

/*=============================================
=              Estilos del banner             =
=============================================*/
.banner {
  min-width: 100%;
  background-color: #5a2630;
  color: white;
  font-family: suave;
  font-size: 18px;
  text-align: center;
}
.banner .__text {
  margin: 0;
}

.hero {
  width: 100%;
  max-width: 100%;
  font-family: suave;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 64px;
  color: #5a2630;
}
.hero__image {
  background: url("../elements/images/mainimagebig.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__text {
  font-size: 28px;
}
.hero__button {
  border: 2px solid white;
  padding: 16px;
  color: white;
  max-width: 200px;
  text-align: center;
}
.hero__button:hover {
  background-color: white;
  color: #5a2630;
}

@media (min-width: 900px) {
  .hero__image {
    background: url("../elements/images/mainimagebig.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
  }
  .hero__text {
    font-size: 32px;
  }
}
.presentation {
  font-family: suave;
  font-size: 28px;
  color: #5a2630;
  font-weight: regular;
  font-weight: 100;
  text-align: center;
  margin-bottom: 64px;
}
.presentation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.presentation__image {
  min-width: 20%;
  max-height: 600px;
}
.presentation__text {
  font-size: 20px;
  text-align: left;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
}

.gallerycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  font-family: suave;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 16px;
  color: #5a2630;
  text-align: center;
}
.gallery__image {
  background: url("../elements/images/photogallery1.jpg");
  background-size: cover;
  background-position: center;
}
.gallery__image2 {
  background: url("../elements/images/photogallery2.jpg");
  background-size: cover;
  background-position: center;
}
.gallery__text--left {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.gallery__text--right {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media (min-width: 900px) {
  .gallerycontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 100%;
    font-family: suave;
    font-size: 24px;
    margin-bottom: 16px;
    color: #5a2630;
    text-align: center;
  }
  .gallery__image {
    background: url("../elements/images/photogallery1.jpg");
    background-size: cover;
    background-position: center;
    max-width: 500px;
    min-height: 400px;
  }
  .gallery__image2 {
    background: url("../elements/images/photogallery2.jpg");
    background-size: cover;
    background-position: center;
    max-width: 500px;
    min-height: 400px;
  }
  .gallery__text--left {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .gallery__text--right {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.products__title {
  font-family: suave;
  font-size: 28px;
  color: #5a2630;
  font-weight: regular;
  font-weight: 100;
  text-align: center;
  margin-bottom: 16px;
}

.all__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__item {
  width: 100%;
  padding: 16px;
  height: 400px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid #0d0d0d;
  border-radius: 10px;
  font-family: suave;
  text-decoration: none;
  color: #0d0d0d;
}
.product__image {
  max-height: 250px;
}
.product__name {
  background-color: white;
  margin-top: 0;
}
.product__price {
  margin-bottom: 8px;
}
.product__button {
  padding: 8px;
  border: 1px solid #0d0d0d;
}
.product__button:hover {
  background-color: #0d0d0d;
  color: white;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5a2630;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 32px 32px;
  text-align: center;
}
.footer__title {
  color: white;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.tienda {
  text-align: center;
}
.tienda__titulo {
  font-family: suave;
  font-size: 32px;
  color: #5a2630;
}
.tienda__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: suave;
  color: #5a2630;
  margin-bottom: 64px;
  padding: 32px;
}
.single__image {
  min-height: 400px;
  max-width: 400px;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.single__title {
  font-size: 32px;
}
.single__name {
  font-size: 32px;
}
.single__description {
  font-size: 20px;
  color: #0d0d0d;
}
.single__details {
  font-size: 20px;
  max-width: 300px;
  margin: 16px auto;
}
.single__button {
  min-width: 300px;
  background-color: #f26982;
  color: #0d0d0d;
  padding: 16px;
  font-family: suave;
  font-size: 28px;
  cursor: pointer;
}
.single__button:hover {
  background-color: #5a2630;
  color: white;
}