/*=============================================
=                   colores                   =
=============================================*/

$main-bgcolor: hsl(343,58%,88%);
$header-bgcolor: hsl(343,58%,88%);
$menu-bgcolor: hsl(163,41%,39%);
$submenu-bgcolor: hsl(343,58%,88%);
$highlight-bgcolor: hsl(0,0%,100%);
$banner-bgcolor: hsl(348,41%,25%);
$footer-bgcolor: hsl(348,41%,25%);
$menu-textcolor:hsl(348,41%,25%);
$title-textcolor: hsl(348,41%,25%);
$paragraph-textcolor: hsl(0,0%,5%);
$highlight-textcolor: hsl(0,0%,100%);
$headercontent-color: hsl(348,41%,25%);
$button-color: hsl(348,41%,25%);
$darken-pink: rgb(172, 106, 125);

/*=============================================
=            tamaños y espaciados            =
=============================================*/
$small: 4px;
$unit: 8px;
$space: 16px;
$space-medium: 32px;
$space-large: 64px;
$space-xlarge: 80px;
$space-xxlarge: 96px;

$h1: 32px;
$h2:24px;
$h3:20px;
$text-large: 24px;
$paragraph: 16px;
$banner-text: 20px;
$button-text: 20px;

//=================>tipografías

$text-typo: krylon;
$title-typo: suave;
