/*=============================================
=              Estilos del banner             =
=============================================*/

.banner{
    min-width: 100%;
    
    background-color: $banner-bgcolor;
    color: $highlight-textcolor;
    font-family: $title-typo;
    font-size: $banner-text;
    text-align: center;
    .__text{
        margin:0;
    }
    
}


