.header{
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    background-color: $header-bgcolor;
    height: $space-xlarge;
    width: 100%;
}
.header__backpack{
    cursor: pointer;;
}
.hamburguer-bt {
    cursor: pointer;
    height: 60px;
    width: 60px;
    transition: all .2s ease-out;
}

.hamburguer-bt .hamburguer-bt__stripe {
    width: $space-medium;
    height: 4px;
    background: $headercontent-color;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.hamburguer-bt.on .hamburguer-bt__stripe__top {
    transform: rotate(45deg) translate(0px, 11px);
}

.hamburguer-bt.on .hamburguer-bt__stripe__middle {
    opacity: 0;
}

.hamburguer-bt.on .hamburguer-bt__stripe__bottom {
    transform: rotate(-45deg) translate(0px, -11px);
}

.item__container{
    display: flex;
    justify-content: center;
    margin-bottom: $space;
}
.big__logo{
    display: none;
}



@media (min-width: 900px) {
    .header{
        display: none;
    }
    .logo{
        width: 100%;
        fill-opacity: 0;
        transition: 0.5s;
    }
    .big__logo{
        display: block;
        font-family: ladigross;
        color: red;
        margin: $space-medium $space;
        text-align: center;
        margin-bottom: 0;
        
    }
    .headerlogo_big{
        margin-bottom: $space;
    }
    .big{
        display: none;
    }
    .nav__container{
        display: flex;
        justify-content: space-around;
        color: $paragraph-textcolor;
        font-family: $title-typo;
        font-size: $paragraph;
        margin-bottom: 0;
        margin: $unit;
    }
    .desktop__link:hover{
        text-decoration: underline 1px $paragraph-textcolor;
        cursor: pointer;
        
    }
}
@media (min-width: 1190px) {
    .big{
        display: block;
        margin: 0 auto;
    }
    .medium{
        display: none;
    }
}