
.hero{
    
    width: 100%;
    max-width: 100%;
    font-family: $title-typo;
    font-size: $text-large;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: $space-large;
    color: $title-textcolor;
    
    &__image{
        background: url("../elements/images/mainimagebig.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        color: $highlight-textcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

    }
    &__text{
        font-size: $h2;
    }
    &__button{
        border: 2px solid $highlight-textcolor;
        padding: $space;
        color: $highlight-textcolor;
        max-width: 200px;
        text-align: center;
        &:hover{
            background-color: $highlight-textcolor;
            color: $title-textcolor;
        }

    }

}



@media (min-width: 900px) {
    .hero__image{
        background: url("../elements/images/mainimagebig.jpg");
        background-size: cover;
        background-position: center;
        height: 800px;
    }
}