.menu{
    padding: $space 0;
    margin: 0;
    font-family: $title-typo;
    text-align: center;
    z-index: 0;
    width: 100vw;
    background-color: $menu-bgcolor;
    
    &__items{
        margin: 0;
    }
    &__button{
        padding: $small;
        font-family: $title-typo;
        font-size: $h2;
        color: $highlight-textcolor;
    }
    &__icon{
        fill: $highlight-textcolor;
    }
    &__item{
        padding: 0;
    }
    &__submenu{
        padding:$space $space-medium;
        background-color: $submenu-bgcolor;
    }
    &__li{
        margin-bottom: $space;
    }
    &__link{
        color: $menu-textcolor;
        text-decoration: none;
        margin-bottom: 20px;
        font-size: $paragraph;
        &:hover{
            text-decoration: underline $menu-textcolor;
        }
    }
}
.off{
    display: none;
}