.tienda{
    text-align: center;
    &__titulo{
        font-family: $title-typo;
        font-size: $text-xlarge;
        color: $title-textcolor;
    }
    &__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: $space-medium;
    align-items: center;
    justify-content: center;
    }
    &__item{
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        width: 50%;
        min-width: 215px;
        min-height: 250px;
        margin-bottom: $space;
        margin-right: $space;
        background-color: $darken-pink;
        background-size: cover;
        background-position: center;
        box-sizing: content-box;
        padding: $space;
        border-radius: $space;
        transition: .5s;
        &:hover{
            transform: translateY(-5%);
        }
    }
}
.item{
    &__image{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        min-height: 200px;
        background: url(../../elements/images/lilagrande.png);
        background-position: center;
        background-size: cover;
    }
    &__name{
        font-family: $title-typo;
        font-size: $text-large;
        color: $highlight-textcolor
    }
    &__button{
        background-color: $main-bgcolor;
        padding: $space;
        width: 98%;
        font-family: $text-typo;
        font-size: $paragraph;
        color: $button-color;
        cursor: pointer;
        &:hover{
            background-color: $button-color;
            color: $main-bgcolor;
        }
    }
}