.shop{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: $space-large;
    &__button{
        @include button;
        background-color: $button-color;
        color: $highlight-textcolor;
        font-size: $paragraph;
        margin-bottom: $unit;
        &:hover{
            background-color: $darken-pink;
        }
    }
}