.single{
    width: 100%;
    text-align: center;
    font-family: $title-typo;
    color: $title-textcolor;
    margin-bottom: $space-large;
    padding: $space-medium;
    &__image{
        background: url('../elements/images/lilagrande.png');
        min-height: 500px;
        max-width: 500px;
        background-position: center;
        background-size: contain;
        margin: 0  auto;
        margin-bottom: $space-medium ;
    }
    &__title{
    font-size: $h1;
    
    }
    &__name{
        font-size: $h1;
    }
    &__description{
        font-size: $paragraph;
        color: $paragraph-textcolor;
    }
    &__details{
        font-size: $paragraph;
        max-width: 300px;
        margin: $space auto;
        
    }
    &__button{
        min-width: 300px;
        background-color: $darken-pink;
        color: $paragraph-textcolor;
        padding: $space;
        font-family: $title-typo;
        font-size: $h2;
        cursor: pointer;
        &:hover{
            background-color: $button-color;
            color:$highlight-textcolor
        }
    }
}